<div class="row">
    <div class="col-md-11 ml-5">
        <div class="card card-user">
            <div class="card-header">
                <h5 class="card-title">Novo Paciente</h5>
            </div>
            <div class="card-body">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>Nome Completo</label>
                                <input type="text" class="form-control" [(ngModel)]="paciente.nome">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-5 pr-1">
                            <div class="form-group">
                                <label>Profissão</label>
                                <input type="text" class="form-control" [(ngModel)]="paciente.profissao">
                            </div>
                        </div>
                        <div class="col-md-3 px-1">
                            <div class="form-group">
                                <label>CPF</label>
                                <input type="text" class="form-control" [(ngModel)]="paciente.cpf">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email</label>
                                <input type="email" class="form-control" [(ngModel)]="paciente.email">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 pr-1">
                            <div class="form-group">
                                <label>Idade</label>
                                <input type="text" class="form-control" numbersOnly [(ngModel)]="paciente.idade">
                            </div>
                        </div>
                        <div class="col-md-6 pl-1">
                            <div class="form-group">
                                <label>Religião</label>
                                <input type="text" class="form-control" [(ngModel)]="paciente.religiao">
                            </div>
                        </div>
                    </div>
<!--
                    <div class="row">
                        <div class="col-md-4 pr-1">
                            <div class="form-group">
                                <label>City</label>
                                <input type="text" class="form-control" placeholder="City" value="Melbourne">
                            </div>
                        </div>
                        <div class="col-md-4 px-1">
                            <div class="form-group">
                                <label>Country</label>
                                <input type="text" class="form-control" placeholder="Country" value="Australia">
                            </div>
                        </div>
                        <div class="col-md-4 pl-1">
                            <div class="form-group">
                                <label>Postal Code</label>
                                <input type="number" class="form-control" placeholder="ZIP Code">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label>About Me</label>
                                <textarea
                                    class="form-control textarea">Oh so, your weak rhyme You doubt I'll bother, reading into it</textarea>
                            </div>
                        </div>
                    </div>-->
                    <div class="row">
                      <div class="update ml-auto mr-3">
                        <button type="submit" class="btn btn-warning btn-round" (click)="voltar()">Voltar</button>
                      </div>
                        <div class="update mr-3">
                            <button type="submit" class="btn btn-primary btn-round" (click)="incluir(paciente)">Salvar</button>
                        </div>
                    </div>

            </div>
        </div>
    </div>
</div>
